<div>
    <p>Articles Management</p><br>
    <p>Create New Article</p>
    <input type="text" placeholder="name" [(ngModel)]="name" name="name"> <br>
    <input type="text" placeholder="category" [(ngModel)]="category" name="category"> <br>
    <input type="text" placeholder="brand" [(ngModel)]="brand" name="brand"> <br>
    <input type="text" placeholder="description" [(ngModel)]="description" name="description"> <br>
    <input type="text" placeholder="imageurl" [(ngModel)]="imageurl" name="imageurl"> <br>
    <input type="number" placeholder="price" [(ngModel)]="price" name="price"> <br>
    <input type="text" placeholder="size" [(ngModel)]="size" name="size"> <br>
    <input type="number" placeholder="units" [(ngModel)]="units" name="units"> <br>
    <button type="submit" [disabled]="isButtonDisabled()" (click)="addArticle()">Add</button>

    <p>Article List:</p>
    <div *ngFor="let article of articleList; let i = index">
        <p>{{i}} {{article.id}} {{article.name}} {{article.category}} {{article.brand}} {{article.description}} {{article.imageurl}} {{article.price}}
            {{article.stocklist}}
        </p>
    </div>
</div>
