<div class="submenu">
    <p class="header">Discounts Management</p><br>
    <p>Article List:</p>
    <p *ngFor="let article of articleList"><strong>Id:</strong> {{article.id}} , name: {{article.name}}</p>
    <div>
        <select [(ngModel)]="articleName" required name="item">
            <option value="" selected>Please select an article name...</option>
            <option *ngFor="let article of articleList">{{article.name}}</option>
        </select> <br>
        Promotion <input type="text" placeholder="promotion" [(ngModel)]="promotion" name="promotion"> <br>
        Discount <input type="number" placeholder="quantity" [(ngModel)]="quantity" name="quantity"> <br>
        <button type="submit" [disabled]="isButtonAddDisabled()" (click)="addDiscount()">Add new discount</button>
        <p class="warning" *ngIf="isDiscount()">Please, select an article witch not have discount yet</p>
    </div>
    <br>
    <p>Discount List:</p>
    <select [(ngModel)]="discountId" required name="discountId">
        <option value="" selected>Please select a discount id...</option>
        <option *ngFor="let discount of discountList">{{discount.id}}</option>
    </select> <br>
    <button type="submit" [disabled]="isButtonDeleteDisabled()" (click)="deleteDiscount()">Delete</button>
    <div *ngFor="let discount of discountList">
        <p><strong>Id:</strong> {{discount.id}}, <strong>Name:</strong> {{discount.name}} <strong>Category:</strong>
            {{discount.category}} <strong>Brand:</strong> {{discount.brand}} <strong>Description:</strong>
            {{discount.description}} <strong>Price:</strong> {{discount.price}} <strong>Discount:</strong>
            {{discount.quantity}}% <strong>Promotion:</strong> {{discount.promotion}}
            <strong>Image:</strong>{{discount.imageUrl}} <strong>Stock:</strong>
            <span *ngFor="let stock of discount.stockList">
                size - {{stock.size}} , units - {{stock.units}}
            </span>
        </p>
    </div>
</div>