* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color:gray;
    padding: 0.3rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item {
    flex-grow: 1;
    margin: 0.3rem;
}

ul {
    list-style: none;
}

li {
    margin: 0 3rem;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    color: firebrick;
}

.active {
    background-color:blue;
}

#footerNav {
    position: relative;
    bottom: 0px;
    width: 100%;
}