<nav>
    <ul class="container">
        <li class="item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <img class="icon" src="../../assets/img/shop-icon.png"></a>
        </li>
        <li class="item">
            <a routerLink="/bikes" routerLinkActive="active">Road bikes</a>
        </li>
        <li class="item">
            <a routerLink="/mountain" routerLinkActive="active">Mountain bikes</a>
        </li>
        <li class="item">
            <a routerLink="/electric" routerLinkActive="active">Electric bikes</a>
        </li>
        <li class="item">
            <a routerLink="/search" routerLinkActive="active">Search</a>
        </li>
    </ul>
</nav>