* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

#principal {
    margin: 2rem;
}

#principal h4 {
    color: grey;
    font-weight: bold;
}

#aditional {
    margin: 2rem;
    width: 30%;
    float: left;
}

#aditional h3 {
    text-decoration: underline;
}

.photo {
    width: 80%;
    max-width: 600px;
    height: auto;
    max-height: 350px;
    float: right;
    margin: 0.3rem;
}
