<div class="container">
    <div id="principal">
        <h1>Come for price, stay for service</h1>
        <h4>Ride More For Less</h4>
        <p>Why buy from Bicis Antidio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut animi inventore
            quidem similique
            neque consequuntur natus, consectetur corrupti expedita? Culpa sunt minus quibusdam debitis id, nihil
            repudiandae? Laborum, atque aperiam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolorem perspiciatis nobis ea. Quod quo
            distinctio quia magni corrupti odio,
            voluptatem repellat delectus quisquam eos recusandae adipisci laborum dolore modi?</p>
    </div>
    <div id="aditional">
        <h3>For Any Questions, please call:</h3>
        <p>Phone: <strong>921093626</strong></p>
        <p><strong>Monday-Friday:</strong> 10:30am to 15:00pm and 17:00 to 20:00pm</p>
        <p><strong>Saturday:</strong> 10:30am to 13:00pm</p>
        <p><strong>Sunday:</strong> Closed</p>
    </div>
    <div>
        <img class="photo" alt="shop photo" src="../../assets/img/shop-output-image.png">
    </div>
</div>