<div class="discount-img"  [ngStyle]="{'background-image': 'url('+ discount.imageurl +')'}"></div>
<div class="discount-body">
<p class="discount-text">Id: {{discount.id}}</p>
  <p class="discount-text">Name: {{discount.name}}</p>
  <p class="discount-text">Brand: {{discount.brand}}</p>
  <p class="discount-text">Description: {{discount.description}}</p>
  <p class="discount-text">Price: {{discount.price}}</p>
  <p class="discount-text">Discount: {{discount.quantity}} %</p>
  <p class="discount-text">Promotion: {{discount.promotion}}</p>
</div>
