* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    padding: 0.3rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    border-style: groove;
}

.item {
    border-style: double;
    flex-grow: 1;
    margin: 0.3rem;
    border-color: black;
    border-width: 0.2rem;
    padding: 0.2rem;
}