<div>
    <p>Price Management</p><br>
    Article Id <input type="number" placeholder="id" [(ngModel)]="articleId" name="id"> <br>
    Price <input type="number" placeholder="price" [(ngModel)]="price" name="price"> <br>
    <button type="submit" [disabled]="isButtonDisabled()" (click)="updatePrice()">Update</button>

    <p>Article List:</p>
    <div *ngFor="let article of articleList; let i = index">
        <p>{{article.id}} {{article.name}} {{article.category}} {{article.brand}} {{article.description}} {{article.imageUrl}} {{article.price}}
            {{article.stocklist}}
        </p>
    </div>
</div>
