<div class="submenu">
    <p class="header">Novelties Management</p><br>
    <p>Article List:</p>
    <p *ngFor="let article of articleList"><strong>Id:</strong> {{article.id}} , name: {{article.name}}</p>
    <div>
        <select [(ngModel)]="articleName" required name="item">
            <option value="" selected>Please select an article name...</option>
            <option *ngFor="let article of articleList">{{article.name}}</option>
        </select> <br>
        <button type="submit" [disabled]="isButtonAddDisabled()" (click)="addNovelty()">Add new novelty</button>
        <p class="warning" *ngIf="isNovelty()">Please, select an article witch not novelty yet</p>
    </div>
    <br>
    <p>Novelty List:</p>
    <select [(ngModel)]="noveltyId" required name="noveltyId">
        <option value="" selected>Please select a novelty id...</option>
        <option *ngFor="let novelty of noveltyList">{{novelty.id}}</option>
    </select> <br>
    <button type="submit" [disabled]="isButtonDeleteDisabled()" (click)="deleteNovelty()">Delete</button>
    <div *ngFor="let novelty of noveltyList">
        <p><strong>Id:</strong> {{novelty.id}}, <strong>Name:</strong> {{novelty.name}} <strong>Category:</strong>
            {{novelty.category}} <strong>Brand:</strong> {{novelty.brand}} <strong>Description:</strong>
            {{novelty.description}} <strong>Price:</strong> {{novelty.price}}
            <strong>Image:</strong>{{novelty.imageUrl}} <strong>Stock:</strong> 
            <span *ngFor="let stock of novelty.stockList">
                size - {{stock.size}} , units - {{stock.units}}
            </span>
        </p>
    </div>
</div>